<% content_for :author, @author.name %>
<article class="author">
  <header>
    <h2> <%= @author.name %> </h2>
  </header>

  <p><label>Nationality:</label> <%= @author.nationality %></p>
  <p><label>DOB:</label> <%= @author.dob %></p>
  <p><label>Awards:</label> <%= @author.awards %></p>
  <p><label>Biography:</label> <%= @author.biography %></p>
  <p> <%= image_tag(@author.image_url, height: '120') %></p>

</article>
