<div id="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
     <h3 class="panel-title">Navigation</h3>
    </div>
    <div class="panel-body">
      <p>
        <%= link_to 'All Books', books_path %>
      </p>
      <p>
        <%= link_to 'Author', books_path %>
      </p>
      <p>
        <%= link_to 'My Reservations', books_path %>
      </p>
      <p>
        <%= link_to 'New Book', books_path %>
      </p>
      <p>
        <%= link_to 'Overdue Books', books_path %>
      </p>
      <p>
        <%= link_to 'Logout', books_path %>
      </p>
    </div>
  </div>
</div>